/.DS_Store
/.project
repos/gitops-system/clusters/.DS_Store
repos/app-manifests/.DS_Store
repos/gitops-system/clusters-config/.DS_Store
repos/gitops-system/workloads/.DS_Store
repos/gitops-workloads/.DS_Store
repos/app-manifests/payment-app/.DS_Store
