---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: crossplane-system
resources:
  - crossplane-system-namespace.yaml
  - crossplane-repository.yaml
  - crossplane-release.yaml

