---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets
resources:
  - external-secrets-namespace.yaml
  - external-secrets-repository.yaml
  - external-secrets-release.yaml

